<main class="home-container">
<section class="home-header">
  <h1>Bienvenido a Articulos Tech</h1>
  <p>
    En esta plataforma encontrarás una colección curada de artículos gratuitos
    relacionados con el mundo tech. Hablamos de temas como desarrollo web,
    programación en JavaScript y Python, uso de APIs, herramientas para
    desarrolladores, inteligencia artificial, y mucho más.
  </p>
  <p>
    Todos los artículos provienen de desarrolladores reales de la comunidad
    <strong>DEV.to</strong>, quienes comparten sus conocimientos y experiencias
    para ayudarte a crecer como profesional.
  </p>

  <div class="home-button">
    <a routerLink="/article" class="btn">Ver artículos</a>
  </div>
</section>
</main>
